.block {
  background-color: black;
  opacity: .75;
  color: white;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  font-size: 1.5em;
  padding-bottom: 2%;
  
}

.spacer {
  padding: 5%;
}

body {
  background: no-repeat center center fixed;
  -webkit-backgorund-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.infoBlock {
  margin-left: 33%;
}